<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SmartGuard需要使用您的位置來顯示當地天氣資訊</string>
	<key>NSCameraUsageDescription</key>
	<string>SmartGuard需要使用相機進行調試功能</string>
</dict>
</plist>
